{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>
{% endblock %}
{% block content %}
    {% include '../navbar/navbar.html' %}
    <div class="login">
    <h1>
        <div class="test" data-text="Modifier mon profil"></div>
    </h1>
    <form action="{% url 'edit_profile' %}" method="post">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% include "form/form_snippet.html" %}
    </form>
{% endblock %}
{% block javascripts %}
    <script src="{% static 'js/typeWriter.js' %}"></script>
{% endblock %}
