body {
    background: url("../images/bg-pattern.png"), #43977b;
    /* fallback for old browsers */
    background: url("../images/bg-pattern.png"), -webkit-linear-gradient(to left, #43977b, #435f97);
    /* Chrome 10-25, Safari 5.1-6 */
    background: url("../images/bg-pattern.png"), linear-gradient(to left, #43977b, #435f97);
    color: #fff;
}

h1 {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.form-control,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] {
    border: 1px solid rgba(1, 1, 1, 0.3);
    background: #fff;
    border-radius: 4px;
    color: #eee;
    color:#000;
}

.form-control option,
.form-control option:focus,
.form-control option:active,
.form-control option:hover,
.form-control option:visited {
    background-color: #2f5760;
}

ul {
    list-style-type: none;
}

#calendar {
    margin-top: 70px;
}

table {
    text-align: center;
}

.month {
    width: 100%;
    border: none;
    background: none;
}

th {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    background: rgba(1, 1, 1, 0.3);
}

td {
    padding: 30px 0;
    background: rgba(1, 1, 1, 0.3);
    margin: 0;
    color: #eee;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s;
}

td:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    transition: 0.5s;
}

.active:hover {
    background: rgba(26, 139, 188, 0.7);
}

/* Month header */
tr .month {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
}

.noday {
    cursor: default;
    background: rgba(1, 1, 1, 0.4);
}

.noday:hover {
    background: rgba(1, 1, 1, 0.4);
}

.today,
.today:hover {
    cursor: default;
    background: rgba(26, 188, 139, 0.7);
    color: #ffffff !important;
}

.active {
    background: rgba(26, 139, 188, 0.7);
}

.complete {
    background: rgba(225, 40, 76, 0.7);
    color: #ffffff !important;
}

button.list-group-item {
    background: rgba(1, 1, 1, 0.3);
    color: #eee;
    border: none;
}

button.list-group-item:hover {
    background: rgba(1, 1, 1, 0.5);
    color: #eee;
}

.list-group .active {
    background: rgba(26, 139, 188, 0.7);
}

.list-group .active:hover,
.list-group .active:focus {
    background: rgba(26, 139, 188, 0.7);
}
#margin-bottom > div > div > form > div > label{
  font-size: 18px;
}

#margin-bottom > div > div > form > input {
  float: right;
  margin-bottom: 50px;
}
#date{
  text-align: center;
  font-size: 16px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.5);
  padding: 10px;
  border-radius: 10px;
}
