{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h2>S'inscrire</h2>
    <form method="post">
        {% if errors %}
            <ol>
                {% for error in errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>
{% endblock %}