{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="login">
        <h2>S'inscrire</h2>
        <form method="post">
            {% if errors %}
                <ol>
                    {% for key, error in errors.items %}
                        {% if key != 'username' %}
                            <li><strong>{{ error.0|escape }}</strong></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for form_loop in form.visible_fields %}
                <div class="group">
                    {{ form_loop }}
                    <span class="highlight"></span><span class="bar"></span>
                    <label>{{ form_loop.name }}</label>
                </div>
            {% endfor %}
            <button class="button buttonBlue" type="submit">Créer mon compte
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
    </div>
{% endblock %}
