{% extends 'base.html' %}

{% block content %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Wifill</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">S'inscrire</a></li>
                  <li><a href="#">Se connecter</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Wifill</h1>
            <p class="lead">Nous vous livrons votre carburant là où vous voulez sans que vous vous déplaciez ! Choisissez, reservez, c'est livré !</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-primary">En savoir plus</a>
            </p>
          </div>

        </div>

      </div>

    </div>
{% endblock %}
