{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>
{% endblock %}
{% block content %}
    {% include './navbar/navbar.html' %}
    <div class="position-top"></div>
    <div class="wrapper">
        <div class="one" style="width: 100%">
            <h1>
                Mes commandes
            </h1>
            <table class="table table-hover table-inverse">
                <thead>
                <tr>
                    <th>Commande n°</th>
                    <th>Type de carburant</th>
                    <th>Date de livraison</th>
                    <th>Payé</th>
                </tr>
                </thead>
                <tbody style="background-color: rgba(1, 1, 1, 0.3);">
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.gas_name }}</td>
                        <td>{{ order.date_refill|date:'d-m-Y H:i' }}</td>
                        <td>{% if order.is_payed %}
                                <i class="icon-check" style="color: #00FF00; "></i>
                            {% else %}
                                <i class="icon-close text-danger" style="color: #FF4444"></i>
                            {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
