{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}"/>
{% endblock %}
{% block content %}
    {% include './navbar/navbar.html' %}
    <div class="row">
      <div class="col-xs-4	col-sm-4	col-md-4	col-lg-4">
          <div id="search">
            <b>Email:</b>
            {{ user.email }}<br/>
            <b>Prénom:</b>
            {{ user.firstname }}<br/>
            <b>Nom:</b>
            {{ user.lastname }}
          </div>
      </div>
    </div>
    <div class="position-top"></div>
    <div class="wrapper">
      <div class="one">
          <h1>
            Mes adresses
          </h1>
        <input type="button" value="+" class="btn btn-success" onclick="window.open('{% url 'create_address' %}')"/>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Rue</th>
              <th>Ville</th>
              <th>Code postal</th>
              <th><img width="20px" src="{% static 'images/delete.png' %}"></th>
            </tr>
          </thead>
          <tbody>
              {% for address in user.address_set %}
                <tr>
                  <td>{{ address.name }}</td>
                  <td>{{ address.street }}</td>
                  <td>{{ address.city }}</td>
                  <td>{{ address.zip }}</td>
                  <td>
                    <input type="button" value="-" class="btn btn-danger" onclick="window.open('{% url 'delete_address' address.id %}')"/>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="two">
            <h1>
              Mes véhicules
            </h1>
          <input type="button" value="+" class="btn btn-success" onclick="window.open('{% url 'create_vehicle' %}')"/>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Marque</th>
                <th>Plaque d'immatriculation</th>
                <th>Couleur</th>
                <th><img width="20px" src="{% static 'images/delete.png' %}"></th>
              </tr>
            </thead>
            <tbody>
                {% for vehicle in user.vehicle_set %}
                <tr>
                    <td>{{ vehicle.name }}</td>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.plate }}</td>
                    <td>{{ vehicle.color }}</td>
                    <td>
                      <input type="button" value="-" class="btn btn-danger" onclick="window.open('{% url 'delete_vehicle' vehicle.id %}')"/>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
{% endblock %}
